[submodule "code/lib/CPP_SPM"]
	path = code/lib/CPP_SPM
	url = https://github.com/cpp-lln-lab/CPP_SPM.git
	datalad-url = https://github.com/cpp-lln-lab/CPP_SPM.git
[submodule "inputs/raw"]
	datalad-url = git@gin.g-node.org:/cpp_brewery/analysis_V5_high-res_pilot_nighres.git
[submodule "outputs/derivatives"]
	path = outputs/derivatives
	url = git@gin.g-node.org:/marcobarilari/analysis_high-res_MP2RAGE-layers_derivatives.git
	datalad-id = 73c0a8e0-ef20-4df6-aae7-82624e5eecf5
